        body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding : 0;
  margin : 0;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inline-block{
    display: inline-block;
} 
#logo{
    position: relative;
    top: 0.2rem;
    left: 0.4rem;
}
#name{
    position: relative;
    left: 0.5rem;
}
#arrow{
    position: relative;
    left: 0.3rem;
}
#qwethen{
    position: relative;
    left: 67rem;
    border-radius: 0.5rem;
}
#imgQwethen{
    width: 70%;
}
#signup{
    position: relative;
    left: 67rem;
    background-color: white;
    border: solid 0.1rem;
    border-radius: 1rem;
    padding: 0.4rem;
}
#logIn{
    position: relative;
    left: 67rem;
    border: solid 0.1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: black;
    color: white;
}
#navbard{
    position: relative;
    left: 30rem;
}
a{
    margin-left: 1rem;
    color: black;
}
.input{
    position: relative;
    left: 45rem;
    top: 15rem;
}
.title{
    font-size: 2.3rem;
}
.inputAsk{
    border: 0;
}
.search{
    position: relative;
    right: 11rem;
    top: 3rem;
    border: solid 0.1rem;
    border-radius: 1rem;
    padding: 0%;
   width: 5rem;
   height: 2.5rem;
   background-color: white;
}
.study{
    position: relative;
    top: 3rem;
    right: 11rem;
     border: solid 0.1rem;
    border-radius: 1rem;
    padding: 0%;
   width: 5rem;
   height: 2.5rem;
   background-color: white;
}
.CreateImage{
    position: relative;
    top: 3rem;
    right: 11rem;
      border: solid 0.1rem;
     border-radius: 1rem; 
     padding: 0.1rem;
   height: 2.5rem;
   background-color: white; 
}
.voice{
    position: relative;
    top: 3.2rem;
    left: 6rem;
     border: solid 0.1rem;
    border-radius: 1rem;
    padding: 0%;
   width: 5rem;
   height: 2.5rem;

}
.helpnput{
    border: solid 0.1rem;
    position: relative;
    right: 9rem;
    padding: 1rem;
    height: 5rem;
    width: 45rem;
    border-radius: 1rem;
 
}
.attach{
    position: relative;
    top: 3.1rem;
    right: 11rem;
    background-color: white;
    border: solid 0.1rem;
    border-radius: 1rem;
    height: 2.5rem;
}